---
import Base from "../../layouts/Base.astro";
import PostCard from "../../components/PostCard.astro";

const API_URL = import.meta.env.API_URL;

const { id } = Astro.params;

const postsResponse = await fetch(`${API_URL}/posts`, {
  method: "GET",
});

const postResponse = await fetch(`${API_URL}/posts/${id}`, {
  method: "GET",
});

const posts = await postsResponse.json();

const { title, content, created_at } = await postResponse.json();
---

<Base title={title}>
  <section class="text-left">
    <h2 class="font-bold text-3xl mb-4 text-slate-200">{title}</h2>
    <span class="italic text-sm font-medium text-emerald-500">
      Created: {created_at}
    </span>
    <div class="mt-16 font-medium text-xl text-slate-200">
      {content}
    </div>
  </section>
  <section class="mt-20">
    <h2 class="font-bold text-2xl mb-8 text-slate-200">
      Read any publication of your interest!
    </h2>
    <div class="grid grid-cols-3 gap-6">
      {
        posts
          .filter((post: any) => post.id != id)
          .map((post: any) => (
            <a href={`/post/${post.id}`}>
              <PostCard
                postTitle={post.title}
                postCreatedAt={post.created_at}
              />
            </a>
          ))
      }
    </div>
  </section>
</Base>
