---
import Base from "../layouts/Base.astro";
import PostCard from "../components/PostCard.astro";

const pageTitle = "Home";

const API_URL = import.meta.env.API_URL;

const postsResponse = await fetch(`${API_URL}/posts`, {
  method: "GET",
});

const posts = await postsResponse.json();
---

<Base title={pageTitle}>
  <section>
    <h2 class="mb-10 text-center font-bold text-3xl mx-28 text-slate-200">
      Welcome to <span class="text-emerald-500">BlogWebsite</span>, the place
      where you can read and write blogs of your interest.
    </h2>
    {
      posts.length === 0 ? (
        <h3 class="text-center text-slate-200 text-2xl font-semibold">
          There are currently no <span class="text-emerald-500">posts</span>{" "}
          created : (
        </h3>
      ) : (
        <>
          <div class="grid gap-y-6 mb-10">
            {posts.slice(0, 6).map((post: any) => (
              <a href={`/post/${post.id}`}>
                <PostCard
                  postTitle={post.title}
                  postCreatedAt={post.created_at}
                  author={post.user.username}
                />
              </a>
            ))}
          </div>
          <div class="grid place-content-center">
            <a
              href="/posts"
              class="text-xl font-medium text-slate-200 italic underline hover:text-emerald-500"
            >
              See all posts
            </a>
          </div>
        </>
      )
    }
  </section>
</Base>
