---
import Base from "../layouts/Base.astro";

const pageTitle = "New Post";

const API_URL = import.meta.env.API_URL;

const token = Astro.cookies.get("token").value;

const responseProfile = await fetch(`${API_URL}/auth/profile`, {
  method: "GET",
  headers: {
    Authorization: `Bearer ${token}`,
  },
});

const { id } = await responseProfile.json();
const user_id = id;

if (!responseProfile.ok) {
  Astro.cookies.delete("token");
  return Astro.redirect("/signin");
}

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const title = formData.get("title");
  const content = formData.get("content");

  const response = await fetch(`${API_URL}/posts`, {
    headers: {
      Authorization: `Bearer ${token}`,
      "Content-Type": "application/json",
    },
    method: "POST",
    body: JSON.stringify({ title, content, user_id }),
  });

  if (response.ok) {
    return Astro.redirect("/profile");
  }
}
---

<Base title={pageTitle}>
  <section>
    <h2 class="mb-10 text-center font-bold text-3xl mx-28 text-slate-200">
      Write a <span class="text-emerald-500">new</span> post.
    </h2>
    <div class="flex justify-center">
      <form method="POST" class="grid w-[500px] gap-y-6">
        <div>
          <input
            class="w-full py-3 pl-6 rounded-lg font-semibold text-lg outline-none text-slate-800"
            type="text"
            placeholder="Title"
            autocomplete="off"
            name="title"
            required
          />
        </div>
        <div>
          <textarea
            class="w-full py-3 pl-6 rounded-lg font-semibold text-lg outline-none text-slate-800 resize-none"
            name="content"
            placeholder="Content"
            rows="6"
            required></textarea>
        </div>
        <button
          type="submit"
          class="bg-emerald-500 text-slate-800 rounded-lg py-3 font-semibold text-lg shadow-lg"
        >
          Save
        </button>
      </form>
    </div>
  </section>
</Base>
