---
import Base from "../layouts/Base.astro";
import PostCard from "../components/PostCard.astro";

const pageTitle = "All Posts";

const API_URL = import.meta.env.API_URL;

const postsResponse = await fetch(`${API_URL}/posts`, {
  method: "GET",
});

const posts = await postsResponse.json();
---

<Base title={pageTitle}>
  <section>
    {
      posts.length === 0 ? (
        <p>Empty</p>
      ) : (
        <>
          <div class="grid grid-cols-3 gap-6 mb-10">
            {posts.map((post: any) => (
              <a href={`/post/${post.id}`}>
                <PostCard
                  postTitle={post.title}
                  postCreatedAt={post.created_at}
                />
              </a>
            ))}
          </div>
        </>
      )
    }
  </section>
</Base>
